.scratch {
	position: relative;
	display: block;
    user-select: none !important;
    cursor: none;
    max-width: 100%;
    height: auto;
    background-color: #ccc;
    text-align: center;
    margin-bottom: 10px;
}

.scratch-inner {
	display: inline-block;
	font-size: 20px;
	color: #fff;
	user-select: none !important;
	padding: 20px 40px;
}

.scratch-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.scratch-div {
	cursor: url(euro.png), pointer;
}

.scratch-overlay-disabled {
	cursor: default;
}

.scratch-cursor {
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 9000;
	pointer-events: none;
	user-select: none !important;
	background: url(euro.png) center center / 100% no-repeat;
	display: none;
}